@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* header */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 70px 20px 32px;
  z-index: 1000;
  background-color: white;
}

.header__start {
  display: flex;
  gap: 3.6rem;
}

.header__left {
  display: flex;
  align-items: center;
  /*gap: 28px;*/
  gap: 1.6rem;
}

/*.header__icons {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 30px;*/
/*}*/

.header__search {
  display: flex;
}

.header__search form {
  display: flex;
}

.header__search input {
  background-color: #EBEBEB;
  border-radius: 20px 0 0 20px;
  padding-left: 23px;
  border: none;
  font-weight: 400;
  width: 40.5vw;
}

.header__search button {
  background-color: #EBEBEB;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12px 17px 12px 17px;
  height: 2.75rem;
  border: none;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.9rem;
  padding-right: 5px;
}

.material-icons-search {
  display: none;
}

.material-icons:hover, .material-icons:hover svg {
  color: #FF0000;
  cursor: pointer;
  fill: #FF0000;
  opacity: 1;
}

.material-icons-bell {
  position: relative;
}

.material-icons-bell span{
  position: absolute;
  top: -6px;
  right: -5px;
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
  color: white;
  background-color: #FF0000;
  border-radius: 20px;
}

/* sidebar */

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 5.25rem;
  padding-left: 2rem;
  overflow-y: hidden;
  z-index: 9999;
  background-color: white;
  width: 13.75rem;
}

.sidebar:hover {
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  padding-bottom: 0.875rem;
}

.sidebar__category {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 15px 0;
  color: #898989;
}

.sidebar__category:hover, .sidebar__category:hover svg {
  color: #FF0000;
  cursor: pointer;
  fill: #FF0000;
  opacity: 1;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 1.5rem;
  padding-bottom: 6.5rem;
}

.subscriptions__head {
  font-size: 1.125rem;
  padding-bottom: 9px;
}

.subscriptions__item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #898989;
}

.settings {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #898989;
  padding-bottom: 2.5rem;
}

.settings:hover, .settings:hover svg {
  color: #FF0000;
  cursor: pointer;
  fill: #FF0000;
  opacity: 1;
}

.sidebar__categories__footer {
  display: none;
}

/* main */

.videos {
  padding: 114px 0 0 255px;
  width: 100%;
  overflow-x: hidden;
}

.videos__channel {
  padding-bottom: 49px;
}

.video__channel_header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 30px;
}

.videos__channel_link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.videos__channel_link a, .videos__channel_link span {
  font-size: 1.625rem;
  font-weight: bold;
  color: #19202C;
}

.recommended__channel_span {
  font-size: 16px !important;
  font-weight: initial !important;
  padding-top: 7px;
  color: #C2C2C2 !important;
}

.videos__channel_arrows {
  display: flex;
  gap: 0.625rem;
  padding-right: 8.375rem;
}

.videos__channel_arrows button{
  border: none;
  background: transparent;
}

.videos__channel_arrows_recommended {
  padding-bottom: 0;
}

.videos__channel_list {
  display: flex;
  gap: 2.5rem;
  overflow: auto;
  width: 100%;
  scrollbar-width: none;
  white-space: nowrap;
}

.videos__channel_list_video {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.videos__channel_list_video > a{
  font-size: 1rem;
  font-weight: bold;
  color: black
}

.videos__channel_list_video > a {
  position: relative;
}

.video_time {
  position: absolute;
  bottom: 0.75rem;
  right: 0.625rem;
  background-color: rgba(0, 0, 0, 0.30);
  color: white;
  border-radius: 10px;
  padding: 3px 9px;
  font-size: 0.875rem
}

.video_info {
  display: flex;
  justify-content: space-between;
}

.video_info span {
  font-size: 13px;
  color: #C2C2C2;
}

.video_info a {
  font-size: 13px;
  color: #C2C2C2;
}

.hidden_video {
  border-radius: 12px;
}

.videos__recommended {
  padding-bottom: 3.125rem;
}

.videos__recommended_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.videos__recommended_title > span {
  font-size: 1.875rem;
  font-weight: bold;
}

.recommended__channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__channel_header_right {
  display: flex;
  align-items: end;
  gap: 2.5rem;
}

.sub__button {
  background-color: #FF0000;
  padding: 0.625rem 1.25rem;
  color: white;
  border-radius: 25px;
  border: none;
}

/*---------------------*/

@media (max-width: 1127px) {
  .video__channel_header {
    align-items: center;
  }
  .sub__button {
    font-size: 0.875rem;
  }
}

@media (max-width: 1010px) {
  .header__search input {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0.75rem 1rem;
  }

  .sidebar {
    display: none;
  }

  .videos {
    padding: 69px 1rem;
  }

  .header__left > svg:first-child {
    display: none;
  }

  .search__input {
    display: none;
  }

.header__search form {
  display: none;
}

  .header__search button {
    display: none;
  }

  .material-icons {
    display: none;
  }

  .material-icons-search {
    display: block;
  }

  .header__right {
    gap: 1.5rem;
  }

  .videos__channel_arrows {
    display: none;
  }

  .videos__channel_header {
    display: block;
  }

  .videos__channel_list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .video_size {
    width: 100%;
    height: 100%;
  }

  .sidebar__categories__footer{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 61px;
    border-top: 1px solid #F1F1F1;
  }

  .sidebar__categories_mobile {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
  }

  .sidebar__category {
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  .sidebar__category span {
    font-size: 0.75rem;
  }
}

